<div class="create_course">
    <form action="/teacher" method="POST">
        <label for="course_name"> Title of course</label>
        <input type="text" id="course_name" name="course_name" required>
        <label for="course_number"> Course Number</label>
        <input type="text" id="course_number" name="course_number" required>
        <label for="course_discription"> Course Description</label>
        <textarea id="course_discription" name="course_discription"></textarea>
        <label for="course_credit"> Number of Credit Hours</label>
        <input type="number" id="CreditHours", name="CreditHours">
        <button> Create Course</button>
    </form>
</div>