<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
        nav{
        display:flex;
        font-family: 'Josefin Sans', sans-serif;
        justify-content: space-between;
        color:aliceblue;
        text-transform:capitalize;
        
        }
        nav ul{
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        nav li{
            list-style-type:none;
            margin-left: 20px;
            margin-right: 5px;
        }
        nav h1{
            padding-left: 10px;
            text-decoration: none;
        }
        a{
            color:aliceblue;
            text-decoration: none;
        }
        body{
            background: rgb(13,26,42);
            background: linear-gradient(to right,#0d1a2a,#304c79,#4A668D,#304c79,#0d1a2a);
            max-width: 1200px;
            
            margin: 20px auto;
            padding: 0 20px;

        }
        footer{
            color:aliceblue;
            margin: 80px auto 20px;
            font-size: .5em;
        }
    </style>

</head>