<nav>
    <div class = "site-name">
        <a href="/">
            <h1>
                <%= siteName %>
            </h1>
        </a>
    </div>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/teacher">
                Teacher Page
            </a>
        </li>
        <li>
            <a href="/student">
                Student Page
            </a>
        </li>
        <li>
            <a href="/super">
                Database
            </a>
        </li>
    </ul>
</nav>